.p-form{
    background:$color-bg__main;
    padding:50px 0;
    margin:50px auto;
    border:3px solid $color-border__form;
    max-width:700px;

    &__title{
        font-size:30px;
        margin-bottom:30px;
        color:$color-font__primary;
        user-select: none;
    }

    &__container{
        width:60%;
        margin:0 auto;
        max-width:450px;
    }

    &__label{
        display:block;
        margin-bottom:10px;
        position:relative;
    }

    &__text{
        font-size:20px;
        margin-bottom:10px;
        user-select: none;
    }

    &__input{
        font-size:24px;
        height:35px;
        width:100%;
    }

    &__checkBox{
        width:20px;
        height:20px;
        margin-right:10px;
    }

    &__loginSave{
        display:flex;
    }

    &__button{
        display:block;
        margin:0 auto;
        width:200px;
        height:50px;
        font-size:20px;

        @include mq(){
            width:100%;
        }
    }

    &__errMsg{
        color:$color-font__errMsg;
        height:30px;
        display:flex;
        align-items: center;
    }

    &__errBox{
        width:100%;
        height:30px;
        margin-bottom:10px;
    }

    &__falseMsg{
        width:100%;
        height:30px;
        display:flex;
        border-radius: 5px;
        background:$color-bg__errBox;
        color:$color-font__errMsg;
        align-items: center;
        justify-content: center;
    }

    &__reminder{
        text-align: right;
    }
}