.p-jobpost{
    margin:50px 0;

    &__input{
        width:100%;
        height:40px;
        font-size:24px;
    }

    &__number{
        width:100%;
        height:40px;
        font-size:24px;
        max-width:200px;

        &:disabled{
            background:$color-bg__disable;
            color:$color-font__disable;
        }
    }

    &__textarea{
        width:100%;
        height:200px;
    }


    &__content{
        display:flex;
    }

    &__label{
        font-size:18px;
        display:flex;
        align-items: center;
        margin-right:30px;
    }

    &__title{
        font-size:24px;
    }

    &__text{
        display:flex;
        align-items: center;
        justify-content: center;
        height:40px;
        font-size:40px;
        margin-right:40px;
    }

    &__radio{
        width:20px;
        height:20px;
        margin-right:10px;

        &::before{
            content:"";
            width:20px;
            height:20px;
            border-radius: 10px;
        }
    }

    &__button{
        display:block;
        margin:0 auto;
        width:200px;
        height:50px;
        font-size:20px;

        @include mq(){
            width:100%;
        }
    }
}