.p-mail{
    margin:50px 0;

    &__title{
        font-size:30px;
    }

    &__message{
        width:80%;
        margin:60px auto;
    }

    &__name{
        font-size:20px;
        font-weight: 500;
        margin-bottom:20px;
    }

    &__text{
        margin-bottom:10px;
    }

    &__reset{
        text-align:center;
        margin-top:50px;
    }

    &__hashKey{
        margin-bottom:20px;
    }


    &__button{
        display:block;
        text-align: center;
        line-height:50px;
        font-size:18px;
            margin:0 auto;
            width: 200px;
            height: 50px;
            background: #3666dd;
            color: #ffffff;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);

        &:active{
            box-shadow: none;
            transform: translateY(2px);
        }
    }
}