.c-text{
    
    &__label{
        font-size:20px;
        user-select:none;
    }

    &__section{
        font-size:20px;
        user-select:none;
    }

    &__title{
        font-size:30px;
        user-select: none;
    }
}